<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd ">
           <!-- 一种解决方案 -->
           <!-- 
	<bean id="departmentDao" class="cn.com.dao.impl.DepartmentDaoImpl" parent="baseDaoImpl">
	</bean>
	 -->
	 
	 <!-- 第二种解决方案 -->
	 <bean id="departmentDao" class="cn.com.dao.impl.DepartmentDaoImpl">
	 	<property name="hibernateTemplate">
	 		<ref bean="hibernateTemplate"/>
	 	</property>
	 </bean>
	<bean id="departmentService" class="cn.com.service.impl.DepartmentServiceImpl">
		<property name="departmentDao">
			<ref bean="departmentDao"/>
		</property>
	</bean>
	<bean id="departmentAction" class="cn.com.struts2.action.DepartmentAction" scope="prototype">
		<property name="departmentService">
			<ref bean="departmentService"/>
		</property>
	</bean>
</beans>