<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 描述数据库的连接 -->
<session-factory>
	<!-- 驱动 -->
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<!-- url -->
	<property name="connection.url">
		jdbc:mysql://localhost:3306/oa
	</property>
	<!-- 用户名 -->
	<property name="connection.username">root</property>
	<!-- 密码 -->
	<property name="connection.password">zx69728537</property>
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>
	<property name="connection.autocommit">true</property>
	<mapping resource="cn/com/domain/Person.hbm.xml" />
	<mapping resource="cn/com/domain/Department.hbm.xml" />
	<mapping resource="cn/com/domain/Post.hbm.xml" />
	<mapping resource="cn/com/domain/User.hbm.xml" />
	<mapping resource="cn/com/domain/Menuitem.hbm.xml" />


</session-factory>
</hibernate-configuration>